page-home {

  /**
    cards
   */
  .page-home-cards {
    margin: 16px;
    padding: 16px;
    color: white;
    border-radius: 16px;
    background-color: $theme-color-yellow;
  }



  /**
    list
   */

  .page-home-list{

    .title{


    }


    .list-box{

      .ico{

      }

      .title{


      }


    }


  }
}
