/**
  list 样式复写
 */

ion-list.ion-list {

  ion-list-header {
    padding: 0;
  }

}


/**
  全局样式壳
 */
html {
  body {
    ion-app {
      /**
        布局
      */
      .paddng-top-bottom-16 {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .paddng-left-right-16 {
        padding-left: 16px;
        padding-right: 16px;
      }

      .float-r {
        float: right;
      }

    }

  }

}

