//滚动条=================================================
/*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  display: none
}

::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
  //background: red;
}

::-webkit-scrollbar-track-piece {
  //background: blue;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: $scrollbarColor;
}

::-webkit-scrollbar-corner {
}

::-webkit-resizer {
}*/




